<div class="header-fixed">
  <div class='header'>
    <div class="logo-name">
      <div class='logo-container'>
        <canvas id='logo' width='60' height='60'></canvas>
      </div>
      <a class="name" href="{{ site.baseurl }}/">
        <span class='light-blue'>ryan</span><span class='accent-color'>stringham</span>
      </a>
    </div>
    <div class='nav'>
      <a href='//www.stringham.me/#home'>
        <span class='nav-home'>home</span>
      </a>
      <a href='//www.stringham.me/#projects'>
        <span class='nav-projects'>projects</span>
      </a>
      <a href='//www.stringham.me/#about'>
        <span class='nav-about'>about</span>
      </a>
    </div>
  </div>
</div>
<div class="header-placeholder"></div>
